*{
    font-family: Arial, Helvetica, sans-serif;
    padding: 0px;
    margin: 0px;
}

body{
    background-color: beige;
}
ul{
    color: red;
}
ul li{
    cursor: pointer;
}

#cabecera{
    min-height: 150px;
    background-color: coral;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    color: azure;
}
#cabecera h1{
    font-family: fantasy;
}
