*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body{
    background-color: beige;
}
ul{
    color: red;
}
ul li{
    cursor: pointer;
}

#footer{
    min-height: 150px;
    background-color: darkgrey;
    color: darkslategrey;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}